*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}

#main{
    width: 100%;
    min-height: 100vh;
}

nav{
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 15vh;
    padding: 0 3vw;
    mix-blend-mode: difference;
}

.left-nav {
font-size: 1.5vw;
height: 6vh;
overflow: hidden;
cursor: pointer;
}

.left-nav h1{
    color: #fff;
transition: all cubic-bezier(0.19, 1, 0.22, 1)1s;

}

.left-nav:hover #logo{
margin-top: -5.5vh;
}

.right-nav{
    font-size: 0.8vw;
height: 3vh;
overflow: hidden;
cursor: pointer;
}

.right-nav h2{
    color: #fff;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)1s;
    
    }
    
    .right-nav:hover #nav-contact{
    margin-top: -3vh;
    }

    .part-1{
        width: 100%;
        height: 100vh;
        background-color: #000;
    }

    .content-part-1{
        display: flex;
        align-items: start;
        justify-content: center;
        width: 100%;
        height: 100vh;
    }

    .rotate-div{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3vw;
        width: 200vw;
        height: 200vh;
        background-color: #000;
    }

    .row-div{
        display: flex;
        flex-direction: column;
        gap: 3vh;
        width: calc(200vw/5);
        height: 100%;
    }

    .img-div{
        width: 100%;
        height: calc(100%/4);
        border-radius: 10px;
        overflow: hidden;
    }

    .img-div img{
        width: 100%;
    }

    #row-div-2{
        margin-top: -5%;
    }

    #row-div-3{
        margin-top: -8%;
    }

    #row-div-4{
        margin-top: -12%;
    }

    #row-div-5{
        margin-top: -15%;
    }